<!--headerbg starts-->
 <div id="top-top" class="headerbg">
	 <!--header starts-->
	   <div class="header">
		 <!--container starts-->
			  <div class="container">
				   <div class="logo">
						<a href="#">Resume</a>
				   </div>
				  <!--Navigation starts-->
				  <div class="nav">
					 <ul>
						 <li><a class="scroll" href="#about">ABOUT</a></li>
						 <li><a class="scroll" href="#skills">SKILLS</a></li>
						 <li><a class="scroll" href="#port">PORTFOLIO</a></li>
						 <li><a class="scroll" href="#contact">CONTACT</a></li>
					 </ul>
				 </div>
				  <!--Navigation ends-->
					<div class="clear"></div>
			  </div>
		 <!--container ends-->
	   </div>
	 <!--header ends-->
	 <!--Banner starts-->
	   <div class="banner">
	      <div class="container">
		     <div class="banner-info">
			      <div class="bannerlogo">
					  <img src="<%= image_url('circle.png') %>">
			      </div>
			      <div class="bannerhead">
				      <h2>My name is <span>Mbele Lebohang</span></h2>
				      <h3>Electrical & Computer Engineering Student</h3>
				      <p>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin,
					  lorem quis bibendum auctor,nisi elit consequat ipsum,nec sagittis sem nibh id elit.Duis.</p>
					  <a class="downarrow scroll" href="#about"><span> </span></a>
			      </div>
			 </div>
			 <div class="clear"></div>
		  </div>
	  </div>
	  <!--Banner ends-->
 </div>
 <!--Headerbg ends-->